@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
html {
  scroll-behavior: smooth;
} 

@layer base {
body{
  @apply font-primary bg-primary text-white leading-loose;
}
}
=======
 

 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1,h2,h3,h4,h5{font-family: var(--font-poppins);}
span.logoname{font-family: var(--font-rubik-glitch);}
>>>>>>> 42f9bac7bbdecb2f59ee83ed8544f2aa3d55ed84
